@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;

}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
}

body {
  color: #032b01;
  margin: 0;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
h2, h2 .green {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #032b01;
}



p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.btn {
  display: flex;
  align-items: center;
  padding: 21px 35px;
  border-radius: 10px;
  display: flex;
  transition: all ease 0.3s;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.input {
  background: #FFFFFF;
border: 1px solid #DDDDDD;
border-radius: 10px;
padding: 22px 30px;
width: 100%;
}
.iti {
  width: 100%;
  margin-bottom: 0px;
  }
  .iti__selected-flag {
    padding: 0 6px 0 30px !important;
}
.iti--separate-dial-code .iti__selected-flag{
  background-color: transparent !important;
}
.iti__flag {
  background-image: url("https://uploads-ssl.webflow.com/627ca4b5fcfd5674acf264e6/629773f0d92342ae2ee5804d_flags.png") !important;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("https://uploads-ssl.webflow.com/627ca4b5fcfd5674acf264e6/629773f0e6f94103f5901866_flags%402x.png") !important;
  }
}
@media only screen and (max-width: 768px){
  body {
    font-size: 12px;
    line-height: 18px;
  }
  h2, h2 span.green{
    font-size: 24px;
    line-height: 36px;
  }

}

/* ESI global styles */
.btn:hover svg path{
  fill: #fff
}
.dropdown svg {
  position: absolute;
  right: 15px;
  z-index: 3;
  top: 25px;
}
.dropdown.activePeriod svg,
.dropdown.activeCurrency svg {
  transform: rotate(180deg);
}

@media only screen and (max-width: 768px) {
  .dropdown svg {
    top: 15px;
  }
}